.Page05_Main{
  margin-top: 100px;
  display: grid;
  gap: 18px;
}

.Page05_MainImage {
  width: 540px;
  height: 300px;
  object-fit: cover;
  display: block;
  border-radius: 15px;
}

.Page05_Action{
  display: flex;
  gap: 100px;
  justify-content: center; /* 버튼들을 수평 중앙 */
}

.Page05_BtnLike{
  padding: 8px 36px;
  background: #72ff6e; 
  cursor: pointer;
}

.Page05_BtnDisLike{
  padding: 8px 36px;
  background: #fe9898; 
  cursor: pointer;
}

/* Reviews */
.Page05_Container {
  display: flex;           /* 가로 방향 정렬 */
  gap: 32px;               /* 사진과 리뷰 사이 간격 */
  align-items: flex-start; /* 높이 기준 상단 정렬 */
  margin-top: 100px;       /* 페이지 여백 */
  justify-content: center; /* 전체 중앙 정렬 */
}

.Page05_Review {
  width: 30%;
  display: grid;
  gap: 24px;
  margin-left: 50px;
  margin-top: 100px;
}

.Page05_ReviewBox {
  background: #eeeeee;
  border-radius: 8px;
  padding: 16px;
  min-height: 90px;
  display: grid;
  align-content: center;
  border: 1px solid #e1e1e1;
}

.Page05_ReviewBoxTitle {
  color: #8f99a3;
  font-weight: 700;
  text-transform: lowercase;
}

.Page05_ReviewDesc {
  margin-top: 6px;
  color: #9aa3ad;
  font-size: 13px;
}

/* Footer progress */
.Page05_Footer {
  margin-top: 64px;
  padding: 24px 48px 36px;
}
.Page05_Process {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  align-items: center;
  gap: 24px;
}
.Page05_Dot {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #e6e6e6;
  box-shadow: inset 0 0 0 4px #dfeaf0;
}
.Page05_DotActive {
  background: #7dd3fc;
  box-shadow: inset 0 0 0 4px #c9eefc;
}
