.Page00_Main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.Page00_Question {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.Page00_Input {
  width: 280px;
  height: 40px;
  border: none;
  border-radius: 12px;
  background: #eee;
  text-align: center;
  outline: none;
  font-size: 14px;
}

.Page00_ActionBtn {
  background: #e0f7fa;
  border: 1px solid #333;
  border-radius: 12px;
  padding: 10px 18px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.Page00_AutoCompleteList {
  position: absolute;
  top: 50%;
  margin-top: 10px;
  left: 50%;
  transform: translateX(-50%);
  
  width: 280px;
  max-height: 200px;
  overflow-y: auto;
  
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.Page00_OptionItem {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 12px;
  cursor: pointer;
}

.Page00_OptionItem:hover {
  background: #c2d9fd;
}

/* 이미지 국기 사용 시 */
.Page00_OptionFlagImg {
  width: 24px;
  height: 18px;
  object-fit: cover;
  border-radius: 2px;
  border: 1px solid #e4e4e4;
  display: block;
}

.Page00_OptionName {
  font-size: 14px;
  color: #333;
}
